body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.issueItem:hover {
  background-color: #eee;
  cursor: pointer;
}

.btnModal {
  flex-direction: row;
}

.modalBtn {
  margin-right: 0.25rem;
}

.deleteModalBtn {
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}
